@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Fira+Code&family=Merriweather&display=swap");

@import "tailwindcss";
@theme {

    /* Font Families */
  --font-body: "Open Sans", sans-serif;
  --font-code: "Fira Code", monospace;

  /* Colors */
  --color-primary: #2563eb; /* Blue */
  --color-secondary: #f97316; /* Orange */
  --color-accent: #10b981; /* Green */
  --color-background: #f9fafb; /* Light Gray */
  --color-text: #111827; /* Dark Gray */
  --color-border: #e5e7eb; /* Light Border */
  --color-shadow: rgba(0, 0, 0, 0.1 ); /* Shadow Color */
}


/* global font family */
/* html {
  font-family: var(--font-body);
} */
/* body {
 
} */

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb; 
  color: #111827;             
} */
/* 
.container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  container-type: inline-size;
  container-name: main;
}

.container > section {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
} */
